{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_meta %}
<meta name="description" content=" Customer shopping bag detailing what the customer added to their shopping bag including price, adjustable quantity section and secure checkout button at the bottom leading to the payment section">
<title> Shopping Bag Summary</title>
{% endblock %}

{% block content %}
    <div class="main-content">

        <div class="col text-center mt-3">
            <h2 class="logo-font">Earth Hammam Shopping Bag</h2>
            <hr>
        </div>

        <div class="general-container">
            {% if bag_items %}
                <div class="table-responsive rounded pt-3">
                    <table class="table table-sm table-borderless text-center pt-4">
                        <thead class=" text-uppercase bg-olive p-1 lead text-white">
                            <tr class="mb-4">
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for product in bag_items %}
                            <tr>
                                <td class="p-3 w-25 pt-3">
                                    {% if product.item.image %}
                                    <img class="img-fluid rounded" src="{{ product.item.image.url }}">
                                    {% else %}
                                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.item.name }}">
                                    {% endif %}

                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ product.item.name }}</strong></p>
                                    <p class="my-0 small text-muted">SKU: {{ product.item.sku|upper }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">${{ product.item.price }}</p>
                                </td>
                                <td class="py-3 w-25">
                                    <form class="form update-form" method="POST" action="{% url 'adjust_bag' product.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-wetsand rounded-0" 
                                                        data-item_id="{{ product.item_id }}" id="decrement-qty_{{ product.item_id }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ product.quantity }}" min="1" max="99"
                                                    data-item_id="{{ product.item_id }}"
                                                    id="id_qty_{{ product.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-wetsand rounded-0"
                                                        data-item_id="{{ product.item_id }}" id="increment-qty_{{ product.item_id }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link text-info float-left"><small>Update</small></a>
                                    <a class="remove-item text-danger float-right" id="remove_{{ product.item_id }}"><small>Remove</small></a>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">${{ product.item.price | calc_subtotal:product.quantity }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                    <p class="mb-1 text-danger">
                                        You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <a href="{% url 'hammam' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-wetsand rounded-0 btn-lg">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <p class="lead mb-5 text-center mt-3">Your bag is empty.</p>
                <a href="{% url 'hammam' %}" class="btn btn-outline-black rounded-0 btn-lg ">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>

    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
    <script type="text/javascript">
        // Update quantity on click
        $('.update-link').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })
    
        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/bag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};
    
            $.post(url, data)
             .done(function() {
                 location.reload();
             });
        })
    </script>
{% endblock %}