{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_meta %}
<meta name="description" content=" Customer shopping bag detailing what the customer added to their shopping bag including price, adjustable quantity section and secure checkout button at the bottom leading to the payment section">
<title> Shopping Bag Summary</title>
{% endblock %}

{% block content %}
    <div class="main-content">

        <div class="col text-center mt-3">
            <h2 class="logo-font">Earth Hammam Shopping Bag</h2>
            <hr>
        </div>

        <div class="general-container">
            {% if bag_items %}
                <div class="table-responsive rounded pt-3">

                    <div class="order-history table-responsive">
                        <div class="profile-table-row bg-olive text-white hide-on-mobile text-uppercase">
                            <div class="profile-table-element flex-column">
                                <strong>Product Info</strong>
                            </div>
                            <div class="profile-table-element flex-column">
                            </div>
                            <div class="profile-table-element flex-column">
                                <strong>Price</strong>
                            </div>
                            <div class="profile-table-element flex-column">
                                <strong>Quantity</strong>
                            </div>
                            <div class="profile-table-element flex-column">
                                <strong>Subtotal</strong>
                            </div>
                        </div>
        
                        {% for product in bag_items %}
                        <div class="profile-table-row">
                            <div class="profile-table-element flex-column">
                                {% if product.item.image %}
                                <img class="img-fluid rounded" src="{{ product.item.image.url }}" alt="Image of product {{ product.item.name }}">
                                {% else %}
                                <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="Image of product {{ product.item.name }}">
                                {% endif %}
                            </div>
                            <div class="profile-table-element flex-column">
                                <p class="my-0"><strong>{{ product.item.name }}</strong></p>
                                <p class="my-0 small text-muted hide-on-mobile">SKU: {{ product.item.sku|upper }}</p>
                            </div>
                            <div class="profile-table-element flex-column">
                                <p class="my-0">${{ product.item.price }}</p>
                            </div>
                            <div class="profile-table-element flex-column margin-on-mobile">
                                {% include 'bag/quantity.html' with product=product %}
                            </div>
                            <div class="profile-table-element flex-column hide-on-mobile">
                                <p class="my-0">${{ product.item.price | calc_subtotal:product.quantity }}</p>
                            </div>
                        </div>
                        {% endfor %}

                    <div class="profile-table-row flex-column align-items-end">
                        <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                        <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                        <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                        {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                            </p>
                        {% endif %}
                    </div>
                    <div class="profile-table-row justify-content-between">
                        <a href="{% url 'hammam' %}" class="btn btn-outline-black rounded-0 btn-lg">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>

                        {% if not user_is_logged_in %}
                        <a class="btn btn-wetsand rounded-0 btn-lg">
                            <span class="text-uppercase">Secure Checkout</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                        {% else %}
                        <a href="{% url 'checkout' %}" class="btn btn-wetsand rounded-0 btn-lg">
                            <span class="text-uppercase">Secure Checkout</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                        {% endif %}
                    </div>
                    
                    {% if not user_is_logged_in %}
                    <div class="booking_feedback text-danger font-weight-bold">
                        You must <a href="/accounts/signup"> Register an Account</a> if you don't have one and then <a href="/accounts/login/?next=/checkout/">Login</a> before you can proceed with the checkout.
                    </div>
                    {% endif %}

                </div>
                </div>
            {% else %}
                <p class="lead mb-5 text-center mt-3">Your bag is empty.</p>
                <a href="{% url 'hammam' %}" class="btn btn-outline-black rounded-0 btn-lg ">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>

    </div>
    <!--Footer goes here-->
    {% include 'includes/footer.html' %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
    <script>
        // Update quantity on click
        $('.update-link').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })
    
        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/bag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};
    
            $.post(url, data)
             .done(function() {
                 location.reload();
             });
        })
    </script>
{% endblock %}