{% extends "base.html" %}
{% load static %}


{% block extra_meta %}
<meta name="description" content="Earth Hammam. Certificates and Rewards">
<title> Certificates</title>
{% endblock %}

{% block content %}
    <div class="main-content">
            <div class="col text-center mt-3">
                <h2 class="text-uppercase">Award Winning Luxury Experience</h2>
                <hr>
            </div>
            
            <div class="general-container">
                <div class="col-md-12">
                    <div class="hammam-section">
          
                        <div class="row">
                
                          <div class="hammam-offer card mb-3 bg-offwhite">
                              <img src="{% static 'images/certificate-exc.png' %}" class="card-img-top" alt="Wellness room for massages">
                              <div class="card-body bg-offwhite">
                                <div class="card-title">Award winning Wellness and Treatments Facility</div>
                                <a href="{% url 'treatments' %}" id="treatments">
                                    <small class="text-muted"> Discover our Treatments Packages</small>
                                </a>
                            </div>
                          </div>
                
                          <div class="hammam-offer card mb-3 bg-offwhite">
                              <img
                                  src="{% static 'images/certificate-exc-black.png' %}"
                                  alt=" Maroccan Lanterns On restaurant ceiling"
                                  class="img-fluid rounded-start"
                              />
                              <div class="card-body bg-offwhite">
                                <div class="card-title">Award winning hammam Facility</div>
                                <a href="{% url 'tickets' %}" id="tickets">
                                    <small class="text-muted"> Discover our award winning Hammam</small>
                                </a>
                            </div>
                          </div> 
                        </div>
                </div>
            </div>
    </div>
</div>

        <!-- Footer goes here -->
{% include 'includes/footer.html' %}

{% endblock %}