{% extends "base.html" %}
{% load static %}


{% block extra_meta %}
<meta name="description" content="Contact Information and Address">
<title> Contact Information and Address</title>
{% endblock %}

{% block content %}
    <div class="main-content">
            <div class="col text-center mt-3">
                <h2 class="text-uppercase">Earth Hammam Contact and Address</h2>
                <hr>
            </div>
            

                <div class="col-md-12">
                    <section class="hammam-section">
          
                        <div class="row">
                
                          <div class="hammam-offer card mb-3 bg-offwhite">
                              <img src="{% static 'images/treatment-room.png' %}" class="card-img-top" alt="Wellness room for massages"/>
                              <div class="card-body bg-offwhite">
                                <div class="card-title text-center text-uppercase fw-bold mb-4">Contact Information</div>
                                <p><i class="fas fa-home me-3" style="padding-right: 12px;"></i>Route de Ouarzazate, Marrakech 40000
                                    Morocco</p>
                                <p>
                                  <i class="fas fa-envelope me-3" style="padding-right: 12px;"></i>
                                  info@earth-hammam.com
                                </p>
                                <p><i class="fas fa-phone me-3" style="padding-right: 12px;"></i> + 212 555  555 55</p>
                                <p><i class="fas fa-print me-3" style="padding-right: 12px;"></i> + 213 555 555 55</p>
                            </div>
                          </div>
                        </section>
                </div>

    </div>

        <!-- Footer goes here -->
{% include 'includes/footer.html' %}

{% endblock %}