{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay">
    <div class="container-fluid mt-6">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Earth Hammam </h2>
                <div class="container col-6">
                    <p> Each Aman property is inspired and informed by the landscape and 
                    culture it resides within. Woven through that is an attention to 
                    detail that underpins seamless, discreet service. Serene wellness
                    spas and clinics, where ancient healing traditions take on a modern sensibility.
                    A deep love and respect for the astonishing gifts of the natural world.
                    And, as always, a resolve to making anything possible.</p>
                </div>
            </div>
        </div>

        <hr class="hr" />

        <div class="row">
            <div class="container col-10">
                <div class="row mt-1 mb-2">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{% static 'images/bath-soak.png' %}" class="d-block w-100" alt="Wild Landscape"/>
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/hammam-pool.png' %}" class="d-block w-100" alt="Camera"/>
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/treatment-room.png' %}"  class="d-block w-100" alt="Exotic Fruits"/>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
                <div class="row">
                    <p>
                        Dedicated to personal wellness, Earth Hammam facilities are serene and timeless, 
                        designed to calm, soothe and rejuvenate while expert therapists work on restoring 
                        optimal wellbeing. Treatments include massages, facials scrubs and wraps, as well
                        as manicures and pedicures.
                    </p>
                    <div class="d-flex justify-content-center">
                      <a href="{% url 'tickets' %}" id="tickets">
                        <button class="btn bg-wetsand me-md-2"> Entrance Ticket </button>
                      </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container col-10">
                    <div class="row mt-1 py-5 mb-2"></div>
                    <div class="row">
                            <div class="">
                                <div class="card mb-3 bg-offwhite">
                                    <div class="row g-0">
                                      <div class="col-md-4">
                                        <img
                                          src="{% static 'images/back-massage.png' %}"
                                          alt=" Wellness room for massages"
                                          class="img-fluid rounded-start"
                                        />
                                      </div>
                                      <div class="col-md-8">
                                        <div class="card-body">
                                          <h5 class="card-title"> Wellness and Treatments</h5>
                                          <p class="card-text">
                                            Enjoy our serene treatments Packages to help you release, rebalance
                                            and restore at our Earth Hammam Wellness Center.
                                          </p>
                                          <p class="card-text">
                                            <a href="{% url 'treatments' %}" id="treatments">
                                                <small class="text-muted"> Discover our Treatments Packages</small>
                                            </a>
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container col-10">
                    <div class="row mt-1 py-5  mb-2"></div>
                    <div class="row">
                            <div class="">
                                <div class="card mb-3 bg-offwhite">
                                    <div class="row g-0">
                                      <div class="col-md-4">
                                        <img
                                          src="{% static 'images/pamper-img.png' %}"
                                          alt=" Wellness room for massages"
                                          class="img-fluid rounded-start"
                                        />
                                      </div>
                                      <div class="col-md-8">
                                        <div class="card-body">
                                          <h5 class="card-title"> Dinning and Events </h5>
                                          <p class="card-text">
                                            Savour healthy local dishes at Earth Hammam's Restaurant.
                                            Local musicians provide the soundtrack to dining in the restaurant’s
                                            serene courtyard every evening, a candlelit fountain at its heart.
                                            Berber culinary traditions and Moorish, Andalusian and Middle Eastern
                                            influences meet on the menu – a kaleidoscope of flavours true to the
                                            melting-pot cuisine of Morocco.
                                          </p>
                                          <p class="card-text">
                                                <small class="text-muted"> No Reservation Needed </small>
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container col-10">
                    <div class="row mt-1  pt-5 mb-2"></div>
                    <div class="row">
                            <div class="">
                                <div class="card mb-3 bg-offwhite">
                                    <div class="row g-0">
                                      <div class="col-md-4">
                                        <img
                                          src="{% static 'images/treatment-room.png' %}"
                                          alt=" Wellness room for massages"
                                          class="img-fluid rounded-start"
                                        />
                                      </div>
                                      <div class="col-md-8">
                                        <div class="card-body">
                                          <h5 class="card-title"> Shop Our Products</h5>
                                          <p class="card-text">
                                            Dont forget to shop our products and take a peace of
                                            Earth hammam with you home.
                                          </p>
                                          <p class="card-text">
                                            <a href="{% url 'items' %}" id="items">
                                                <small class="text-muted"> Shop Now</small>
                                            </a>
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                    </div>
                </div>
            </div>
    </div>
    
    <div class="row mt-1 pt-5">
      <div class="col-12">
        {% include 'includes/footer.html' %}
      </div>
    </div>
    


</div>
</div>
 
{% endblock %}