{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay">
    <div class="container-fluid mt-6">
        <div class="row">
            <div class="container col-8 text-center mt-3">
                <h2 class="logo-font">Earth Hammam </h2>
                <div class="container col-6">
                    <p> Each Aman property is inspired and informed by the landscape and 
                    culture it resides within. Woven through that is an attention to 
                    detail that underpins seamless, discreet service. Serene wellness
                    spas and clinics, where ancient healing traditions take on a modern sensibility.
                    A deep love and respect for the astonishing gifts of the natural world.
                    And, as always, a resolve to making anything possible.</p>
                </div>
            </div>
        </div>

        <hr class="hr" />

        <div class="row">
            <div class="container col-sm-6 col-md-6 col-lg-6 col-xl-8">
                <div class="row mt-1 mb-2">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{% static 'images/bath-soak.png' %}" class="d-block w-100" alt="Wild Landscape"/>
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/hammam-pool.png' %}" class="d-block w-100" alt="Camera"/>
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/aromatherapy.png' %}"  class="d-block w-100" alt="Exotic Fruits"/>
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/treatment-room.png' %}"  class="d-block w-100" alt="Exotic Fruits"/>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
                <div class="col text-center py-5">
                    <p>
                        Dedicated to personal wellness, Earth Hammam facilities are serene and timeless, 
                        designed to calm, soothe and rejuvenate while expert therapists work on restoring 
                        optimal wellbeing.
                    </p>
                    <div class="d-flex justify-content-center">
                      <a href="{% url 'tickets' %}" id="tickets">
                        <small class="text-muted me-md-2"> Entrance Ticket </small>
                      </a>
                    </div>
                </div>
            </div>
        </div>

        <hr class="hr 3px" />


        </div>
        <div class="row">
          <div class=" container col-8 text-center mt-3">
              <h2 class="logo-font"> Exclusive Offers at Earth Hammam </h2>
              <div class="container col-6">
                  <p> Invest in your personal wellbeing with a personalised half- or full-day retreat including a healthy lunch overlooking the Earth Hammam pool.
                    While the full day begins with a relaxing aromatherapy session or energising yoga session, both options include a body scrub and wrap,
                    a full body massage and a rejuvenating facial.</p>
              </div>
          </div>
      </div>

            <div class="row">
              <div class="container col-8">
                  <div class="row mt-1 pt-5 mb-2 row-cols-1 row-cols-md-3 g-4">
                              <div class="card mb-3 bg-offwhite">
                                <div class="card h-100 border-0">
                                  <img src="{% static 'images/back-massage.png' %}" class="card-img-top" alt="Wellness room for massages"/>
                                  <div class="card-body bg-offwhite">
                                    <h5 class="card-title">Wellness and Treatments</h5>
                                    <p class="card-text">Enjoy our serene treatments Packages to help you release, rebalance
                                      and restore at our Earth Hammam Wellness Center.</p>
                                    <a href="{% url 'treatments' %}" id="treatments">
                                        <small class="text-muted"> Discover our Treatments Packages</small>
                                    </a>
                                  </div>
                                </div>
                              </div>

                              <div class="card mb-3 bg-offwhite">
                                <div class="card card h-100 border-0">
                                  <img
                                      src="{% static 'images/pamper-img.png' %}"
                                      alt=" Maroccan Lanterns On restaurant ceiling"
                                      class="img-fluid rounded-start"
                                  />
                                  <div class="card-body bg-offwhite">
                                    <h5 class="card-title">Dinning and Events</h5>
                                    <p class="card-text">
                                      Savour healthy local dishes at Earth Hammam's Restaurant.
                                      Local musicians provide the soundtrack to dining in the restaurant’s
                                      serene courtyard every evening, a candlelit fountain at its heart.
                                      Berber culinary traditions and Moorish, Andalusian and Middle Eastern
                                      influences meet on the menu – a kaleidoscope of flavours true to the
                                      melting-pot cuisine of Morocco.
                                    </p>
                                    <p class="card-text">
                                      <small class="text-muted"> No Reservation Needed </small>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="card mb-3 bg-offwhite">
                                <div class="card h-100 border-0">
                                  <img 
                                      src="{% static 'images/treatment-room.png' %}"
                                      alt=" Wellness room for massages" 
                                      class="card-img-top" 
                                  />
                                  <div class="card-body bg-offwhite">
                                    <h5 class="card-title">Shop Our Products</h5>
                                    <p class="card-text">
                                      Enjoy our serene treatments Packages to help you release, rebalance
                                      and restore at our Earth Hammam Wellness Center.
                                    </p>
                                    <p>
                                    <a href="{% url 'items' %}" id="items">
                                        <small class="text-muted">  Shop Our Products</small>
                                    </a>
                                    </p>
                                  </div>
                                </div>
                              </div>

                             
              </div>
          </div>



          <!--Testimonials go here-->
            <div class="row">
              <div class="container col-8">
                  <div class="row mt-1  pt-5 mb-2 row-cols-1 g-4">
                    <div class="row mt-1 pt-5">
                          <div class="row" id="testimonials">
                              <div class="row d-flex justify-content-center">
                                  <div class=" col text-uppercase mb-2  pb-3 pt-5 text-center">
                                    <h3> <strong> What our clients say</strong> </h3>
                                  </div>
                              </div>

                              <div class="col-10 row text-center d-flex align-items-stretch">
                                {% for testimonial in all_testimonials %}
                                <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
                                  <div class="card h-100 border-0 bg-offwhite">
                                    <div class="card-body">
                                      <p class="testimonial-card-body dark-grey-text mt-4">" {{testimonial.body}} "</p>
                                      <hr/>
                                      <small class="mb-5">{{testimonial.name}}</small>
                                    </div>
                                  </div>
                                </div>
                                {% endfor %}
                              </div>
                          </div>
                    </div>
                </div>
              </div>
            </div>
                      <!-- Footer goes here-->{% include 'includes/footer.html' %}


</div>
</div>
</div>

 
{% endblock %}