{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="Earth Hammam page with detailed description of the facility including images section, exclusive offers such as treatments section, testimonials sections">
<title> Earth Hammma Facility and Exclusive offers | Order a treatments or get yourself a ticket to the Earth Hammam experience</title>
{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="main-content">

      <!------------------------------------- Section Earth Hammmam Facility goes here-->
        <div class="container text-center">
            <h2 class="logo-font">Earth Hammam Facility</h2>
            <p>
                Earth Hammam wellness and spa facility is inspired by the North African landscape, culture and earthy hued colors. Woven through that is serene wellness,
                bath soaks, stream  and treatments rooms, where ancient Moroccan healing traditions take on a modern twist.
            </p>
        </div>

        <hr class="hr" />
      <!------------------------------------- Section Earth Hammmam Facility Carousel goes here-->
        <section id="hamam-section-1" class="hammam-section">
          <div class="row mt-1 mb-2">
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{% static 'images/bath-soak.png' %}" class="d-block w-100" alt=" Earth Hammam bath-soak with aromatherapy"/>
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/hammam-pool.png' %}" class="d-block w-100" alt=" Earth Hammam pool with Maroccan design architecture"/>
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/aromatherapy.png' %}"  class="d-block w-100" alt="Earth Hammam aromatherapy products used in massages and treatments"/>
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/treatment-room.png' %}"  class="d-block w-100" alt=" An Earth Hammam client having a massage and treatnment with a specialist "/>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
                    <span class="visually-hidden">Next</span>
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  </button>
              </div>
          </div>
          <div class="col text-center py-5">
              <p>
                  Dedicated to personal wellness, Earth Hammam facilities are serene and timeless, 
                  designed to calm, soothe and rejuvenate while expert therapists work on restoring 
                  optimal wellbeing.
              </p>
              <div class="d-flex justify-content-center">
                <a href="{% url 'tickets' %}">
                  <small class="text-muted me-md-2"> Entrance Ticket </small>
                </a>
              </div>
          </div>
        </section>

        <hr class="hr 3px" />

        <!------------------------------------- Section Exclusive Offers goes here-->

        <section class="hammam-section">
          <h2 class="logo-font"> Exclusive Offers at Earth Hammam </h2>
          <p> Invest in your personal wellbeing with a personalised half- or full-day retreat including a healthy lunch overlooking the Earth Hammam pool.
            While the full day begins with a relaxing aromatherapy session or energising yoga session, both options include a body scrub and wrap,
            a full body massage and a rejuvenating facial.</p>
       </section>
        <!------------------------------------- Exclusive Offers Cards goes here-->
        <section class="hammam-section">
          
        <div class="row">

          <div class="card mb-3 bg-offwhite">
              <img src="{% static 'images/back-massage.png' %}" class="card-img-top" alt="Wellness room for massages"/>
              <div class="card-body bg-offwhite">
                <h5 class="card-title">Wellness and Treatments</h5>
                <p class="card-text">Enjoy our serene treatments Packages to help you release, rebalance
                  and restore at our Earth Hammam Wellness Center.</p>
                <a href="{% url 'treatments' %}" id="treatments">
                    <small class="text-muted"> Discover our Treatments Packages</small>
                </a>
            </div>
          </div>

          <div class="card mb-3 bg-offwhite">
              <img
                  src="{% static 'images/pamper-img.png' %}"
                  alt=" Maroccan Lanterns On restaurant ceiling"
                  class="img-fluid rounded-start"
              />
              <div class="card-body bg-offwhite">
                <h5 class="card-title">Dinning and Events</h5>
                <p class="card-text">
                  Savour healthy local dishes at Earth Hammam's Restaurant.
                  Local musicians provide the soundtrack to dining in the restaurant’s
                  serene courtyard every evening, a candlelit fountain at its heart.
                  Berber culinary traditions and Moorish, Andalusian and Middle Eastern
                  influences meet on the menu – a kaleidoscope of flavours true to the
                  melting-pot cuisine of Morocco.
                </p>
                <p class="card-text">
                  <small class="text-muted"> No Reservation Needed </small>
                </p>
            </div>
          </div>
          
          <div class="card mb-3 bg-offwhite">
              <img 
                  src="{% static 'images/treatment-room.png' %}"
                  alt=" Wellness room for massages" 
                  class="card-img-top" 
              />
              <div class="card-body bg-offwhite">
                <h5 class="card-title">Shop Our Products</h5>
                <p class="card-text">
                  Enjoy our serene treatments Packages to help you release, rebalance
                  and restore at our Earth Hammam Wellness Center.
                </p>
                <p>
                <a href="{% url 'items' %}">
                    <small class="text-muted">  Shop Our Products</small>
                </a>
                </p>
            </div>
          </div> 


        </div>
        </section>

<!---------------------------------------- Section Testimonials go here-->
    <section class="hammam-section">
      <div class="row" id="testimonials">
          <div class="row d-flex justify-content-center">
              <div class=" col text-uppercase mb-2  pb-3 pt-5 text-center">
                <h3> <strong> What our clients say</strong> </h3>
              </div>
          </div>

          <div class="col-10 row text-center d-flex align-items-stretch">
            {% for testimonial in all_testimonials %}
            <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
              <div class="card h-100 border-0 bg-offwhite">
                <div class="card-body">
                  <p class="testimonial-card-body dark-grey-text mt-4">" {{testimonial.body}} "</p>
                  <hr/>
                  <small class="mb-5">{{testimonial.name}}</small>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
      </div>
    </section>
</div>

<!------------------------------------- Footer goes here-->
{% include 'includes/footer.html' %}
 
{% endblock %}