{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content=" Earth Hammam welcome page with a button leading to Earth Hammam facility and exclusive offers' page">
<title> Welcome to Earth Hammma | Leave your stress behind and enter our sunctuary</title>
{% endblock %}

{% block content %}
    <div class="index-wrapper" style="background: url('{% static 'images/homepage-massage-big.png' %}') no-repeat center center fixed">
        <div class="index-content">
            <h1 class="display-4 logo-font text-white">
                Treat your body and ease your soul
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'hammam' %}" class="healing-button bg-olive btn btn-lg rounded-1 py-3">Discover Earth Hammam Marrakech</a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}