{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content=" Profile including profile Information, delivery information and order history">
<title> User Profile</title>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}


{% block content %}


    <div class="main-content" style="display: flex; flex-direction: column; align-items: center;">
        <div class="col text-center mt-3">
            <h2 class="logo-font">My Profile</h2>
            <hr>
        </div>

        <div class="general-container">
            <h3 class="text-uppercase lead bg-olive text-white p-2">General Information</h3>
            <form class="mt-4" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-btn-to-right">
                    <button class="btn btn-wetsand rounded-0 text-uppercase">Update Information</button>
                </div>
            </form>
            
            <h3 class="text-uppercase lead bg-olive text-white p-2 mt-5">Delete Account</h3>
            Click "Delete" to remove your account. Please note that this can not be undone.
            <form class="mt-4" action="{% url 'delete' %}" method="POST" id="profile-delete">
                {% csrf_token %}
                <div class="form-btn-to-right">
                    <button class="btn btn-wetsand rounded-0 text-uppercase">Delete</button>
                </div>
            </form>
        </div>


        <div class="col text-center mt-3">
            <h2 class="logo-font">Order History</h2>
            <hr>
        </div>

        <div class="general-container">
            <div class="order-history table-responsive">
                <div class="profile-table-row bg-olive text-white">
                    <div class="profile-table-element">
                        <strong>Date</strong>
                    </div>
                    <div class="profile-table-element">
                        <strong>Products</strong>
                    </div>
                    <div class="profile-table-element">
                        <strong>Order Total</strong>
                    </div>
                    <div class="profile-table-element">
                    </div>
                </div>

                {% for order in orders %}
                <div class="profile-table-row clickable">
                    <div class="profile-table-element">
                        {{ order.date }}
                    </div>
                    <div class="profile-table-element">
                        <div class="d-flex flex-column">
                            {% for product in order.lineitems.all %}
                            <a>
                                {{ product.item.name }}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="profile-table-element">
                        ${{ order.grand_total }}
                    </div>
                    <div class="profile-table-element">
                        <form action="{% url 'order_history' order.order_number %}">
                            <input type="submit" value="View Order" class="btn btn-wetsand rounded-0 text-uppercase float-right"/>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}