{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content=" Profile including profile Information, delivery information and order history">
<title> User Profile</title>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col container col-8 text-center mt-2 pb-4 pt-4">
                <h2 class="text-uppercase">My Profile</h2>
            </div>
        </div>
        <div class="row bg-offwhite pb-3" style="border:solid; border-color: #d39e00; border-radius: 10px;">
            <div class="col-12 col-lg-6 mb-5 text-center pt-4">
                <h3 class="text-uppercase lead bg-olive text-white p-1">Delivery Information</h3>
                <form class="mt-4" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-wetsand rounded-0 text-uppercase float-right">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-lg-6 pt-4">
                <h3 class="text-uppercase lead bg-olive text-white text-center p-1">Order History</h3>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>${{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}