<div style="height:100px; width: 100%; background: #ebccac; font-family: 'Montserrat'; font-size: 40px; padding: 1rem; margin-bottom: 2rem; border-bottom: 15px solid #836e59;">
    <strong>EARTH</strong> HAMMAM
</div>

{{ content }}

<div style="width: 100%;">
    <div style="width: 100%; background: #ebccac; font-family: 'Montserrat'; font-size: 14px; padding: 0.5rem; margin-top: 2rem; text-align: center;">
        Indulge and let yourself be pampered at Earth Hammam
    </div>
    <div style="width: 100%; color: white; background-color: rgb(131 110 89); font-family: 'Montserrat'; font-size: 14px; padding: 0.5rem; text-align: center;">
        © 2023 Copyright:
        <a style="color: white; margin-left: 1rem;" href="https://earth-hammam-e2008fb66bd6.herokuapp.com/">Earth Hammam</a>
    </div>
</div>