
<!-- Footer -->

        <footer class="bg-footer text-center text-white sticky-bottom mt-6">
            <!-- Grid container -->
            <div class="container">
            <!-- Section: Social media -->
            <section class="mb-2 pt-2">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" aria-label="Facebook" href="https://www.facebook.com/" role="button" rel="noopener"
                ><i class="fab fa-facebook-f"></i
                ></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" aria-label="Twitter/X" href="https://twitter.com/?lang=en" role="button" rel="noopener"
                ><i class="fab fa-twitter"></i
                ></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" aria-label="Google" href="https://www.google.com/" role="button" rel="noopener"
                ><i class="fab fa-google"></i
                ></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" aria-label="Instagram" href="https://www.instagram.com/" role="button" rel="noopener"
                ><i class="fab fa-instagram"></i
                ></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" aria-label="Linkedin" href="https://www.linkedin.com/" role="button" rel="noopener"
                ><i class="fab fa-linkedin-in"></i
                ></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" aria-label="Github" href="https://www.github.com/" role="button" rel="noopener"
                ><i class="fab fa-github"></i
                ></a>
            </section>
            <!-- Section: Social media -->

            <!-- Section: Form -->
            <section class="newsletter">
                <form action="{% url 'subscribe' %}" method="post">
                <!--Grid row-->
                <div class="row d-flex justify-content-center align-items-center m-2">
                    {% csrf_token %}
                    <!--Grid column-->
                    <div class="">
                    <p class="p-0 m-2">
                        To receive updates about exclusive experiences, events, new destinations, sign up to our Newsletter.
                    </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="d-flex justify-content-center align-items-start">
                    <!-- Email input -->
                    <div class="form-outline form-white m-1">
                        <input type="text" name="name" id="SubscriberName" class="form-control" placeholder="Name"/>
                    </div>
                    <div class="form-outline form-white  m-1">
                        <input type="email" name="email" id="SubscriberEmail" class="form-control"  placeholder="Email"/>
                    </div>
                    <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light m-1">
                            Subscribe
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
                </form>
            </section>
            <!-- Section: Form -->

            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3 d-flex justify-content-center flex-wrap" style="background-color: rgba(0, 0, 0, 0.2);">
                <a href="{% url 'privacypolicy' %}" class="text-white mr-4">Privacy Policy</a>
                <a href="{% url 'certification' %}" class="text-white mr-4">Earth Hammam Awards</a>
                <a href="{% url 'unsubscribe' %}" class="text-white mr-4">Unsubscribe</a>
                <a href="{% url 'contact' %}" class="text-white mr-4"> Address and Contact</a>
                <a href="https://www.aman.com/resorts/amanjena"  rel="noopener" target="_blank" class="text-white mr-4">Partner Resort</a>
                <div>
                    © {% now "Y" %} Copyright:
                    <a class="text-white" href="{% url 'hammam' %}">Earth Hammam</a>
                </div>
            </div>
            <!-- Copyright -->

        </footer>
<!-- Footer -->