
<!-- Footer -->

        <footer class="bg-footer text-center text-white sticky-bottom mt-6">
            <!-- Grid container -->
            <div class="container">
            <!-- Section: Social media -->
            <section class="mb-2 pt-2">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" aria-label="Facebook" href="#!" role="button" rel="noopener"
                ><i class="fab fa-facebook-f"></i
                ></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" aria-label="Twitter/X" href="#!" role="button" rel="noopener"
                ><i class="fab fa-twitter"></i
                ></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" aria-label="Google" href="#!" role="button" rel="noopener"
                ><i class="fab fa-google"></i
                ></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" aria-label="Instagram" href="#!" role="button" rel="noopener"
                ><i class="fab fa-instagram"></i
                ></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" aria-label="Linkedin" href="#!" role="button" rel="noopener"
                ><i class="fab fa-linkedin-in"></i
                ></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" aria-label="Github" href="#!" role="button" rel="noopener"
                ><i class="fab fa-github"></i
                ></a>
            </section>
            <!-- Section: Social media -->

            <!-- Section: Form -->
            <section class="newsletter">
                <form action="{% url 'subscribe' %}" method="post">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    {% csrf_token %}
                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                    <p class="pt-2">
                        <strong>To receive updates about exclusive experiences, events, new destinations, sign up to our Newsletter.</strong>
                    </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="d-flex justify-content-center align-items-start">
                    <!-- Email input -->
                    <div class="form-outline form-white m-1">
                        <input type="text" name="name" id="SubscriberName" class="form-control" placeholder="Name"/>
                    </div>
                    <div class="form-outline form-white  m-1">
                        <input type="email" name="email" id="SubscriberEmail" class="form-control"  placeholder="Email"/>
                    </div>
                    <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light m-1">
                            Subscribe
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
                </form>
            </section>
            <!-- Section: Form -->

            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                <a href="{% url 'privacypolicy' %}" class="text-white mr-4">Privacy Policy</a>
                <a href="{% url 'certification' %}" class="text-white mr-4">Earth Hammam Awards</a>
                <a href="{% url 'unsubscribe' %}" class="text-white mr-4">Unsubscribe</a>
                <a href="https://www.aman.com/resorts/amanjena" target="_blank">Partner Resort</a>
                © {% now "Y" %} Copyright:
            <a class="text-white" href="{% url 'hammam' %}">Earth Hammam</a>
            </div>
            <!-- Copyright -->

        </footer>
<!-- Footer -->