{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Logout" %}{% endblock %}

{% block inner_content %}

<div class="main-content main-content-narrow">

    <section class="row">
      <div class="container text-center mt-3">
          <h2 class="text-uppercase">{% trans "log out" %}</h2>
      </div>
    </section>

    <section class="row ">
          <div class="container pb-5 mb-5 pt-4 bg-offwhite">
            <p class="text-center">{% trans 'Are you sure you want to logout?' %}</p>

          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
            {% endif %}
            <a class="btn btn-outline-black rounded-0 text-black" href="{% url 'hammam' %}">Cancel</a>
            <button class=" btn btn-wetsand float-right"  type="submit">{% trans 'Log Out' %}</button>
          </form>
        </div>
    </section>
</div>

{% include 'includes/footer.html' %}
{% endblock %}