html {
    height: 100%;
}

body {
    background: url('/static/images/homepage_massage.png') no-repeat center center fixed;
    background-size: cover;
    color: #555;
    font-family: 'Chivo', sans-serif;
    font-weight: 300
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
   }

/* from Bulma to keep all icons centered with correct size */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}



.btn-black {
    background: black;
    color: white;
}

/* Earth Hammam color Pallet */
.healing-button {
    background: #D5CDC9;
    color: white;
    min-width: 260px;
}
.healing-button:hover,
.healing-button:active,
.healing-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #d67525;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}


.mt-6 {
    margin-top: 11rem;
}

.pt-6 {
    padding-top: 26rem;
}
.bg-black {
    background: #000 !important;
}


.bg-reddirt {
    background: #dc8b35 !important;
}

.bg-olive {
    background-color: #52452e !important;
}

.bg-pickledolive {
    background-color:#b38600 !important;
}


.bg-earth {
    background-color: #ebccac!important;
}

.bg-offwhite {
    background-color: #f3e9e0!important;
}

.bg-wetsand {
    background: #d39e00;
}

#border-wetsand {
    border: solid;
    border-color: #d39e00;
}
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff4eb;
    z-index: -1;
    overflow: scroll;
}
/* Product - Ticket - Treatment pages  */

.form-col-center {
    display: flex!important;
    flex-wrap: nowrap!important;
    flex-direction: column!important;
    align-items: center!important;
}

.admin-edit-delete {
    display: flex!important;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}


.btn-wetsand {
    background: #d39e00;
    color: white;
}

.btn-reddirt {
    background: #d67525;
    color: white;
} 
.healing-button:hover,
.healing-button:active,
.healing-button:focus,
.btn-wetsand:hover,
.btn-wetsand:active,
.btn-wetsand:focus {
    background: #d67525;
    color: white;
}


.row-items {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}





.divider-img-wrapper {
    height: 200px;
    overflow: hidden;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}



/*Testimonials*/

#testimonials {
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    flex-direction: row;
  }

.testimonial-card .card-up {
    height: 22px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.testimonial-card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
}
  
.card-up {
    background-color: #dc8b35;
  
}
  
.card{
    width: 100%;
}

/* the scroll to the top button*/
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}
/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Admin Item Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* Footer */

.bg-footer {
    background-color: #52452e!important;
}

.col-footer {
    position: relative;
    width: 100%;
}

/* Booking */

.table {
    font-size: large;
}
.table td {
    border: 1px solid #d39e00;
    padding: 0.5rem;
}


.table td:visited {
    background: #495057;
}

.table .thead-light th {
    color: #495057;
    background-color: #fff4eb;
    border-color: #d39e00;
}

.table-session-overview {
    width: 100%;
}

.table-session-overview td {
    padding: 4px;
}


.disableME {
    background-color: #6c757d61 !important;
    cursor: auto !important;
}

.isMine {
    background: rgb(172 218 225) !important;
}

.cancel_session_container {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#no-account-p{
    color: #000000;
}

#scheduler-container{
    background: #fff4eb!important;
    box-sizing: border-box;
    border-radius: 10px;
    min-height: 87vh;
    padding: 2rem;
    border: 2px solid #d39e00;
}

.scheduler-next{
    display: flex;
    justify-content: space-between;
    background: #b38600;
}

.btn-scheduler {
    background: #b38600;
}
#datetimepicker {
    background-color: #ffffff08;
    border: none;
}

.appointment_type_form > p {
    visibility: hidden;
    height: 0;
}

.appointment_type_form > label {
    margin-right: 1rem;
}

.scheduler-next{
    display: flex;
    justify-content: space-between;
    }

.register_complete_main{
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.thank_you_header {
    font-size: 1.7rem;
    font-weight: 600;
    color: #495057;
    border-bottom: 1px solid grey;
    min-width: 60%;
    text-align: center;
}

.thank_you_subheader {
    font-size: 1.2rem;
    font-weight: 400;
    color: #0e464f;
    text-align: center;
}



/* -------------------------------- Media Queries */
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
        overflow: scroll;
    }
}


/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
        overflow: scroll;
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}
