{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="404 error page">
{% endblock %}

{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1 class="p-4 pt-3 text-center display-4 text-uppercase text-black"> Error Page </h1>
            </div>
        </div>
    </div>
    <div class="container h-100 mt-4">
        <div class="row h-100">
            <div class="p-4">
                <h2 class="display-4 text-uppercase text-black">
                    {{text}}
                </h2>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'home' %}" 
                            class="shop-now-button btn btn-lg rounded-0 text-uppercase text-center py-3">
                                Click here to return to Earth Hammam
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}