{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay">
    <div class="container-fluid mt-6">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Treatments</h2>
            </div>
        </div>
        <div class="row">
            <div class="product-container col-12 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for treatment in treatments %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if treatment.image %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ treatment.image.url }}" alt="{{ treatment.name }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ treatment.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body bg-offwhite pb-0">
                                    <p class="mb-0"><strong>{{ treatment.name }}</strong></p>
                                    <p class="mt-3">{{ treatment.description }}</p>
                                </div>
                                <div class="card-footer bg-offwhite pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-center font-weight-bold"><strong>${{ treatment.price }}</strong></p>
                                            {% if treatment.discount_price %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i><strong>{{ treatment.discount_price }} / 5</strong></small>
                                            {% endif %}
                                            <form class="form" action="{% url 'add_to_bag' treatment.id %}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-row">
                                                    <div class="col-12 form-col-center">
                                                    </div>
                                                    <div class="col-12 form-col-center">
                                                        <a href="{% url 'items' %}" class="btn btn-outline-black rounded-0 mt-2">
                                                        <input type="submit" class="btn btn-wetsand rounded-0 text-uppercase" value="Add to Bag"></a>
                                                    </div>
                                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div></div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
{% endblock %}