{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_meta %}
<meta name="Newsletter" content="Earth Hammam newsletter page for admin">
<title> Newsletter Management</title>
{% endblock %}


{% block content %}
    <div class="main-content">
         <!-- Earth Hammam Admin Newsletter form to send emails to subscribers-->
        <section class="col text-center mt-3">
            <h2 class="logo-font">Newsletter Management</h2>
            <hr>
        </section>

        <div class="row ">
            <div class="general-container">
                <form method="POST" class="form mb-2 text-uppercase" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy  }}
                    {{ form.media  }}
                    <div class="text-right">
                        <button class="btn btn-wetsand rounded-0 text-uppercase" type="submit">Send</button>
                        
                    </div>
                </form>
                <p class="small text-danger my-0 text-center">
                    <span class="icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <span>You are sending this newsletter to all Earth Hammam Active Subscribers.</span>
                </p>
            </div>            
        </div>
    </div>

<!-- Footer goes here-->
{% include 'includes/footer.html' %}

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}
